{% extends 'base.html.twig' %}

{% block title %}Actu index{% endblock %}

{% block body %}
    <h1>Actu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Ladate</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actu in actus %}
            <tr>
                <td>{{ actu.id }}</td>
                <td>{{ actu.titre }}</td>
                <td>{{ actu.contenu }}</td>
                <td>{{ actu.ladate ? actu.ladate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ actu.slug }}</td>
                <td>
                    <a href="{{ path('actu_show', {'id': actu.id}) }}">show</a>
                    <a href="{{ path('actu_edit', {'id': actu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actu_new') }}">Create new</a>
{% endblock %}
