{% extends 'base.html.twig' %}

{% block title %}Actu{% endblock %}

{% block body %}
    <h1>Actu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actu.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actu.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ actu.contenu }}</td>
            </tr>
            <tr>
                <th>Ladate</th>
                <td>{{ actu.ladate ? actu.ladate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ actu.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actu_index') }}">back to list</a>

    <a href="{{ path('actu_edit', {'id': actu.id}) }}">edit</a>

    {{ include('actu/_delete_form.html.twig') }}
{% endblock %}
