{% extends 'base2.html.twig' %}

{% block title %}Video liste{% endblock %}

{% block body %}
    <h1>Video liste</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Lien</th>
                <th>Ladate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.titre }}</td>
                <td>{{ video.lien }}</td>
                <td>{{ video.ladate ? video.ladate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                  {#   <a href="{{ path('video_show', {'id': video.id}) }}">show</a> #}
                    <a href="{{ path('video_edit', {'id': video.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enrégistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_new') }}">Nouveau</a>
{% endblock %}
