{{ form_start(form) }}
    <div class="form-group">
     <label>Adresse </label>
       {{ form_widget(form.adresse , {'attr':{ 'class': 'form-control' }}) }}
    {#  <p class="help-block">Donnez un titre a votre article.</p> #}
   </div>
   <div class="form-group">
    <label>Tel</label>
       {{ form_widget(form.tel , {'attr':{ 'class': 'form-control' }}) }}
    {#  <p class="help-block">Donnez un titre a votre article.</p> #}
   </div>
    <div class="form-group">
    <label>email</label>
       {{ form_widget(form.email , {'attr':{ 'class': 'form-control' }}) }}
    {#  <p class="help-block">Donnez un titre a votre article.</p> #}
   </div>  
  
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
