{% extends 'base2.html.twig' %}

{% block title %}Categorie liste{% endblock %}

{% block body %}
    <h1>Categorie </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
              {#   <td>{{ categorie.image ? categorie.image|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    {# <a href="{{ path('categorie_show', {'id': categorie.id}) }}">Afficher</a> #}
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enrégistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Nouveau</a>
{% endblock %}
